*{margin: 0px;
padding: 0px;
box-sizing: border-box;
font-family: "Quicksand", sans-serif;}
/*main container css*/
.container{display: grid;

grid-template-columns: 1.5fr 2.5fr;
/* background-color: red; */
width: 100%;
height: 100vh;}
/* search input section*/ 
.input{ width: 90%;
height: 46px;
padding:5px 10px ;
background-color: #efefef;
display: flex;
justify-content: space-between;
align-items: center;
border-radius: 20px;}
.searchInput{
     width: 77%; 
    border: transparent;
    height: 30px;
    background-color: #efefef;}
    .searchImage{margin-right: 10px;}
 .item1{
    /* background-color: blue; */
      padding: 20px;   
    display: flex; 
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 43px;
} 
.sunImage1{ display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tempDiv{display: flex;
flex-direction: column;
justify-content: center;
align-items: center;}
.temprature{font-size: 48px;
font-weight: 400;}
.span{font-size: 40px;
font-weight: 400;}
.tempratureText{color: gray;
    border-bottom: 2px solid rgb(219, 216, 216);
    padding-bottom:18px;
    padding-top: 14px;

font-size: 20px;
font-weight: 600;}
.dateDiv{display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
color: gray;}
.January{font-size: 18px;
font-weight: 400;}
.Wednesday{font-size: 20px;
    font-weight: 500;
width: 100%;
max-width: 208px;}
    .location{font-size: 32px;
        font-weight: 500;
    padding-top: 40px;
color: rgb(18, 18, 18);}
.container2{width: 100%;

display: flex;
 padding:  40px 20px; 
flex-direction: column;
/* justify-content: center; */
gap: 35px;
}
.item2{background-color: red;
background-color: #efefef;

/* padding-top: 20px; */
}
.TodayHeading{width: 100%;
    /* height: 10vh; */
    align-items: center;
    display: flex;
    gap: 30px;
}
.tomorrow{color: gray;
font-size: 20px;
font-weight: 500;}
.today{color: 
    #748cf1;
    font-size: 20px;
    font-weight: 500;}
    .weatherCards{display: grid;
    grid-template-columns: 1fr 1fr 1fr;
row-gap: 50px;
column-gap: 20px;}
    .cards{display: flex;
        justify-content: center;
        /* align-items: center; */
        flex-direction: column;
        width: 100%;
         padding: 10px; 
        height: 100px;
    background-color: #748cf1;
border-radius: 10px;}
.card_innerText{color: #efefef;
font-size: 21px;
font-weight: 400;}
.card_innerText1{
    color: #efefef;
font-size: 12px;
font-weight: 400;
}
.card1_Row{display: flex;
flex-direction: row;
justify-content: center;
gap: 20px;
}
.footerData{display: flex;
    gap: 10px;
    font-size: 8px;
font-weight: 400;}
.AccuWeather{
    font-size: 20px;
    font-weight: 500;
    color: #748cf1;}
.footerData2{
    display: flex;
    gap: 10px;
    font-size: 8px;
    font-weight: 400;}
    .mainfooterContainer{display: flex;
    flex-direction: row;
justify-content:space-between;
width: 100%;
height: auto;
}
.card_innerText1{ 
    /* color: rgb(50, 49, 49); */
font-weight: 500;}
.card_innerText2 {font-size: 16px;
    color: white;
font-weight: 500;}
.error{
    display: none;
    /* text-align: left;
    margin-left:10px ; */
    font-size: 14px;
    /* margin-top: 10px; */
}
